<page-title title="page.infoAboutUs"></page-title>
<!--Page content -->
<section class="py-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <a class="pull-up">
          <div class="p-10">
            <span class="fs-40 icon-Compiling"
              ><span class="path1"></span><span class="path2"></span
            ></span>
            <h3 class="my-15">{{ "page.ourPhilosophy" | translate }}</h3>
            <div class="text-fade fs-16 mb-10">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod..
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <a href="#" class="pull-up">
          <div class="p-10">
            <span class="fs-40 icon-Position1"
              ><span class="path1"></span><span class="path2"></span
              ><span class="path3"></span
            ></span>
            <h3 class="my-15">{{ "page.ourMission" | translate }}</h3>
            <div class="text-fade fs-16 mb-10">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod..
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <a href="#" class="pull-up">
          <div class="p-10">
            <span class="fs-40 icon-Book-open"
              ><span class="path1"></span><span class="path2"></span
            ></span>
            <h3 class="my-15">{{ "page.ourVision" | translate }}</h3>
            <div class="text-fade fs-16 mb-10">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod..
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <a href="#" class="pull-up">
          <div class="p-10">
            <span class="fs-40 icon-Road-Cone"
              ><span class="path1"></span><span class="path2"></span
            ></span>
            <h3 class="my-15">{{ "page.keyOfSuccess" | translate }}</h3>
            <div class="text-fade fs-16 mb-10">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod..
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="py-50 bg-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12">
        <h2 class="mb-10">{{ "page.infos" | translate }}</h2>
        <p class="fs-20">
          إنها حقيقة مثبتة منذ زمن طويل وهي أن القراءة. لوريم إيبسوم هو ببساطة
          نص شكلي يستخدم في صناعة الطباعة والتنضيد. كان هو النص الوهمي القياسي
          في الصناعة منذ القرن الخامس عشر الميلادي ، عندما أخذت طابعة غير معروفة
          لوحًا من النوع وتدافعت عليه لعمل كتاب عينة. لقد صمد ليس فقط لخمسة قرون
          ، ولكن أيضًا القفزة في التنضيد الإلكتروني ، وظل دون تغيير جوهري. هناك
          العديد من الأشكال المتوفرة لنصوص لوريم إيبسوم ، ولكن الغالبية قد تعرضت
          للتغيير بشكل ما ، عن طريق إدخال بعض الفكاهة أو الكلمات العشوائية التي
          لا تبدو قابلة للتصديق إلى حد ما. إذا كنت ستستخدم مقطعًا من لوريم
          إيبسوم ، فعليك التأكد من عدم وجود أي شيء محرج مخفي في منتصف النص.
        </p>
        <a
          routerLink="/contact"
          class="btn btn-primary"
          style="font-size: 20px"
        >
          {{ "page.contact" | translate }}
        </a>
      </div>
      <div class="col-lg-6 col-12 position-relative">
        <div class="popup-vdo mt-30 mt-md-0">
          <img
            src="assets/images/front-end-img/courses/4f.jpg"
            class="img-fluid rounded"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
