.btn-sm {
  width: 10%;
  margin-right: 45%;
}

.mt-30 {
  display: flex;
  flex-wrap: wrap;
}

.btn-primary{
  width: 10%;
   margin-right: 45%; 
   font-size: 22px; 
   padding-top: 3px;
}



.col-lg-7{
  background-color: #38363626; 
  border-radius: 30px;
  
  height: 60px;
  width: 50%;

}