<div class="event-container"
  routerLink="{{
    '/event' +
      (event.nature === EventNatureEnum.News ? '/news/' : '/event/') +
      event.id
  }}">
  <div class="event-image"
    [style.background-image]="'url(' + STORAGE_URL + event.image + ')'"></div>
  <div class="event-info">
    <div class="event-title">{{ event.title }}</div>
    <div class="event-description"
      [innerHTML]="event.description"></div>
    <div class="event-date"
      *ngIf="event.createdAt">
      {{ event.createdAt | date: "yyyy-MM-dd HH:mm" }}
    </div>
  </div>
  <div class="event-actions"
    (click)="$event.stopPropagation()">
    <app-button *ngIf="event.nature !== EventNatureEnum.News"
      class="action"
      css="success"
      [name]="(!event.hasForm ? 'profile.form' : 'profile.edit')"
      [icon]="!event.hasForm ? 'plus' : 'rectangle-list'"
      (click)="!event.hasForm ? createForm.emit() : editForm.emit()"></app-button>
    <app-button class="action"
      name="profile.edit"
      icon="pen-to-square"
      (click)="edit.emit()"></app-button>
    <app-button name="profile.delete"
      css="danger"
      icon="trash"
      (click)="remove.emit()"></app-button>
  </div>
</div>
