<page-title
  title="page.staff"
  backgroundUrl="assets/images/front-end-img/background/bg-event.jpg"
></page-title>

<section class="py-50">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="box ribbon-box">
          <div class="ribbon-two ribbon-two-primary"></div>
          <div class="box-header no-border p-0">
            <a href="#">
              <img
                class="img-fluid"
                src="assets/images/front-end-img/avatar/375x200/1.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="box-body">
            <div class="user-contact list-inline text-center">
              <a href="#" class="btn btn-circle mb-5 btn-facebook"
                ><i class="fa fa-facebook"></i
              ></a>
              <a href="#" class="btn btn-circle mb-5 btn-twitter"
                ><i class="fa fa-twitter"></i
              ></a>
              <a href="#" class="btn btn-circle mb-5 btn-warning"
                ><i class="fa fa-envelope"></i
              ></a>
            </div>
            <div class="text-center">
              <h3 class="my-10"><a href="#">Tristan</a></h3>
              <h6 class="user-info mt-0 mb-10 text-fade">مدير المندوبية</h6>
              <p class="text-fade w-p85 mx-auto">
                125 Ipsum Lorem Ave, Suite 458 New York, USA 154875
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="box ribbon-box">
          <div class="box-header no-border p-0">
            <a href="#">
              <img
                class="img-fluid"
                src="assets/images/front-end-img/avatar/375x200/2.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="box-body">
            <div class="text-center">
              <div class="user-contact list-inline text-center">
                <a href="#" class="btn btn-circle mb-5 btn-facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-warning"
                  ><i class="fa fa-envelope"></i
                ></a>
              </div>
              <h3 class="my-10"><a href="#">Sophia</a></h3>
              <h6 class="user-info mt-0 mb-10 text-fade">نائب المدير</h6>
              <p class="text-fade w-p85 mx-auto">
                125 Ipsum Lorem Ave, Suite 458 New York, USA 154875
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="box ribbon-box">
          <div class="box-header no-border p-0">
            <a href="#">
              <img
                class="img-fluid"
                src="assets/images/front-end-img/avatar/375x200/3.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="box-body">
            <div class="text-center">
              <div class="user-contact list-inline text-center">
                <a href="#" class="btn btn-circle mb-5 btn-facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-warning"
                  ><i class="fa fa-envelope"></i
                ></a>
              </div>
              <h3 class="my-10"><a href="#">Jacob</a></h3>
              <h6 class="user-info mt-0 mb-10 text-fade">أمين المال</h6>
              <p class="text-fade w-p85 mx-auto">
                125 Ipsum Lorem Ave, Suite 458 New York, USA 154875
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="box">
          <div class="box-header no-border p-0">
            <a href="#">
              <img
                class="img-fluid"
                src="assets/images/front-end-img/avatar/375x200/4.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="box-body">
            <div class="text-center">
              <div class="user-contact list-inline text-center">
                <a href="#" class="btn btn-circle mb-5 btn-facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-warning"
                  ><i class="fa fa-envelope"></i
                ></a>
              </div>
              <h3 class="my-10"><a href="#">Isabella</a></h3>
              <h6 class="user-info mt-0 mb-10 text-fade">Designer</h6>
              <p class="text-fade w-p85 mx-auto">
                125 Ipsum Lorem Ave, Suite 458 New York, USA 154875
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="box ribbon-box">
          <div class="box-header no-border p-0">
            <a href="#">
              <img
                class="img-fluid"
                src="assets/images/front-end-img/avatar/375x200/5.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="box-body">
            <div class="text-center">
              <div class="user-contact list-inline text-center">
                <a href="#" class="btn btn-circle mb-5 btn-facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-warning"
                  ><i class="fa fa-envelope"></i
                ></a>
              </div>
              <h3 class="my-10"><a href="#">Emma</a></h3>
              <h6 class="user-info mt-0 mb-10 text-fade">Support Agent</h6>
              <p class="text-fade w-p85 mx-auto">
                125 Ipsum Lorem Ave, Suite 458 New York, USA 154875
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="box">
          <div class="box-header no-border p-0">
            <a href="#">
              <img
                class="img-fluid"
                src="assets/images/front-end-img/avatar/375x200/6.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="box-body">
            <div class="text-center">
              <div class="user-contact list-inline text-center">
                <a href="#" class="btn btn-circle mb-5 btn-facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-warning"
                  ><i class="fa fa-envelope"></i
                ></a>
              </div>
              <h3 class="my-10"><a href="#">William</a></h3>
              <h6 class="user-info mt-0 mb-10 text-fade">
                Marketing Department
              </h6>
              <p class="text-fade w-p85 mx-auto">
                125 Ipsum Lorem Ave, Suite 458 New York, USA 154875
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="box">
          <div class="box-header no-border p-0">
            <a href="#">
              <img
                class="img-fluid"
                src="assets/images/front-end-img/avatar/375x200/7.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="box-body">
            <div class="text-center">
              <div class="user-contact list-inline text-center">
                <a href="#" class="btn btn-circle mb-5 btn-facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-warning"
                  ><i class="fa fa-envelope"></i
                ></a>
              </div>
              <h3 class="my-10"><a href="#">Tristan</a></h3>
              <h6 class="user-info mt-0 mb-10 text-fade">Designer</h6>
              <p class="text-fade w-p85 mx-auto">
                125 Ipsum Lorem Ave, Suite 458 New York, USA 154875
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="box">
          <div class="box-header no-border p-0">
            <a href="#">
              <img
                class="img-fluid"
                src="assets/images/front-end-img/avatar/375x200/8.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="box-body">
            <div class="text-center">
              <div class="user-contact list-inline text-center">
                <a href="#" class="btn btn-circle mb-5 btn-facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-warning"
                  ><i class="fa fa-envelope"></i
                ></a>
              </div>
              <h3 class="my-10"><a href="#">Michael</a></h3>
              <h6 class="user-info mt-0 mb-10 text-fade">Designer</h6>
              <p class="text-fade w-p85 mx-auto">
                125 Ipsum Lorem Ave, Suite 458 New York, USA 154875
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="box">
          <div class="box-header no-border p-0">
            <a href="#">
              <img
                class="img-fluid"
                src="assets/images/front-end-img/avatar/375x200/2.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="box-body">
            <div class="text-center">
              <div class="user-contact list-inline text-center">
                <a href="#" class="btn btn-circle mb-5 btn-facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
                <a href="#" class="btn btn-circle mb-5 btn-warning"
                  ><i class="fa fa-envelope"></i
                ></a>
              </div>
              <h3 class="my-10"><a href="#">Sophia</a></h3>
              <h6 class="user-info mt-0 mb-10 text-fade">
                Full Stack Developer
              </h6>
              <p class="text-fade w-p85 mx-auto">
                125 Ipsum Lorem Ave, Suite 458 New York, USA 154875
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
