.form-control {
  font-size: 20px;
}

.subject {
  background-color: white;
  padding: 0.5rem 1rem;
  font-size: 2rem;
}

.separator {
  background-color: white;
  border-bottom: 2px #cccccc solid;
  padding: 0 1rem;
}
