$blue: #248fff;
$white: #ffffff;
$bright-gray: #e6eaf1;
$school-primary: #0d4e8a;
$table-header-border-color: #eaecf0;
$ghost-white: #f1f2f3;
$disabled: #afb9c5;
$error: #f44336;
$warning: #f6891e;
$black-text: #17224d;
$success: #28a745;
