@import "../../../../assets/scss/global.scss";

:host {
  display: block;

  .field-control {
    &.options-container {
      display: flex;
      flex-direction: column;

      .options-list {
        display: flex;
        flex-direction: column;
        max-height: 15rem;
        overflow-y: auto;
        margin-bottom: 1rem;

        .option {
          display: flex;
          align-items: center;
          padding: 0.25rem 0rem;

          .option-input {
            margin-left: 1rem;
          }

          .option-delete {
            padding: 0.25rem;
            font-size: 1rem;
            color: #b10b0b;
            cursor: pointer;
          }
        }
      }
    }
  }
}
