<page-title [title]="'entry.resetTitle' | translate"></page-title>

<section class="py-50">
  <div class="container">
    <div class="row justify-content-center g-0">
      <div class="col-lg-5 col-md-5 col-12">
        <div class="box box-body mb-0">
          <div class="content-top-agile pb-0 pt-20">
            <h2 class="text-primary">{{ "entry.resetPassword" | translate}} </h2>
          </div>
          <div class="p-40">
            <form #forgotForm="ngForm"
              (ngSubmit)="submit(forgotForm)">
              <div class="form-group">
                <div class="input-group mb-15">
                  <span class="input-group-text bg-transparent"><i class="ti-email"></i></span>
                  <input class="form-control ps-15 bg-transparent"
                    type="email"
                    name="email"
                    style="font-size: 20px"
                    [placeholder]="'profile.email' | translate"
                    [(ngModel)]="email" />
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-center">
                  <button type="submit"
                    class="btn btn-info w-p100 mt-15"
                    style="font-size: 20px"
                    [disabled]="!email">
                    {{ "entry.reset" | translate}}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
