<section id="albumphoto"
  class="py-50 bg-img countnm-bx"
  style="background-image: url(../../../assets/images/front-end-img/background/tunisiaBG.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="text-center">

          <div class="w-80 h-80 l-h-100 rounded-circle b-1 border-white text-center mx-auto">
            <span class="text-white fs-40 "><i class="fa fa-play-circle"
                aria-hidden="true"></i>
              <span class="path1"></span><span class="path2"></span></span>
          </div>
          <h1 class="countnm my-10 text-white fw-300">5428</h1>
          <div class="text-uppercase text-white">{{ 'page.eventsCount' | translate}} </div>
        </div>
      </div>
      <div class="col-lg-3 col-6">
        <div class="text-center">
          <div class="w-80 h-80 l-h-100 rounded-circle b-1 border-white text-center mx-auto">
            <span class="text-white fs-40 icon-Globe"><span class="path1"></span><span class="path2"></span></span>
          </div>
          <h1 class="countnm my-10 text-white">100</h1>
          <div class="text-uppercase text-white">{{ 'page.citiesCount' | translate}}</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="text-center">
          <div class="w-80 h-80 l-h-100 rounded-circle b-1 border-white text-center mx-auto">
            <span class="text-white fs-40 icon-Group"><span class="path1"></span><span class="path2"></span></span>
          </div>
          <h1 class="countnm my-10 text-white fw-300">7485</h1>
          <div class="text-uppercase text-white">{{ 'page.usersCount' | translate}}</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="text-center">
          <div class="w-80 h-80 l-h-100 rounded-circle b-1 border-white text-center mx-auto">
            <span class="text-white fs-40 "><i class="fa fa-handshake-o"
                aria-hidden="true"></i>
              <span class="path1"></span><span class="path2"></span></span>
          </div>
          <h1 class="countnm my-10 text-white fw-300">100</h1>
          <div class="text-uppercase text-white">{{ 'page.partnersCount' | translate}}</div>
        </div>
      </div>
    </div>
  </div>
</section>
