:host {
  display: block;

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 24rem;

    .question-panel {
      width: 60rem;
    }

    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 60rem;

      .add-button-container {
        align-self: flex-start;
        margin-bottom: 1rem;
      }
    }
  }
}
