<footer class="footer_three">
  <div class="footer-top bg-dark3 pt-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-12">
          <div class="widget">
            <h4 class="footer-title">{{ "page.whoUs" | translate }}</h4>
            <hr class="bg-primary mb-10 mt-0 d-inline-block mx-auto w-60" />
            <p class="text-capitalize mb-20">
              وريم ايبسوم دولار سيت أميت ,كونسيكتيتور أدايبا يسكينج أليايت,سيت دو أيوسمود تيمبور
              أنكايديديونتيوت لابوري ات دولار ماجنا أليكيوا . يوت انيم أد مينيم فينايم,كيواس نوستريد
              أكسير سيتاشن يللأمكو لابورأس نيسي يت أليكيوب أكس أيا كوممودو كونسيكيوات 
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-12">
          <div class="widget">
            <h4 class="footer-title">{{ "page.contact" | translate }}</h4>
            <hr class="bg-primary mb-10 mt-0 d-inline-block mx-auto w-60" />
            <ul class="list list-unstyled mb-30">
              <li>
                <i class="fa fa-map-marker"></i> Monastir - Tunisie
              </li>
              <li>
                <i class="fa fa-phone"></i> <span>73 461 216 </span><br /><span>73 461 216</span>
              </li>
              <li>
                <i class="fa fa-envelope"></i> <span>mjmonastir@yahoo.fr </span><br /><span>mjmonastir@yahoo.fr</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-lg-3">
          <div class="widget widget_gallery clearfix">
            <h4 class="footer-title">{{ "page.partners" | translate }}</h4>
            <hr class="bg-primary mb-10 mt-0 d-inline-block mx-auto w-60" />
            <ul class="list-unstyled">
              <li><img src="assets/images/gallery/thumb/1.jpg" /></li>
              <li><img src="assets/images/gallery/thumb/2.jpg" /></li>
              <li><img src="assets/images/gallery/thumb/3.jpg" /></li>
              <li><img src="assets/images/gallery/thumb/4.jpg" /></li>
              <li><img src="assets/images/gallery/thumb/5.jpg" /></li>
              <li><img src="assets/images/gallery/thumb/6.jpg" /></li>
              <li><img src="assets/images/gallery/thumb/7.jpg" /></li>
              <li><img src="assets/images/gallery/thumb/8.jpg" /></li>
              <li><img src="assets/images/gallery/thumb/9.jpg" /></li>
              <li><img src="assets/images/gallery/thumb/10.jpg" /></li>
              <li><img src="assets/images/gallery/thumb/11.jpg" /></li>
              <li><img src="assets/images/gallery/thumb/12.jpg" /></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-12">
          <div class="widget">
            <h4 class="footer-title mt-20">
              {{ "page.subscribeToNews" | translate }}
            </h4>
            <hr class="bg-primary mb-4 mt-0 d-inline-block mx-auto w-60" />
            <div class="mb-20">
              <form class=""
                action="#"
                method="post">
                <div class="input-group">
                  <input name="email"
                    required="required"
                    class="form-control"
                    [placeholder]="'page.email' | translate"
                    type="email" />
                  <button name="submit"
                    value="Submit"
                    type="submit"
                    class="btn btn-primary">
                    <i class="fa fa-envelope"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom bg-dark3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-12 text-md-start text-center"
          [innerHtml]="'page.copyRight' | translate ">
        </div>
        <div class="col-md-6 mt-md-0 mt-20">
          <div class="social-icons">
            <ul class="list-unstyled d-flex gap-items-1 justify-content-md-end justify-content-center">
              <li>
                <a href="#"
                  class="waves-effect waves-circle btn btn-social-icon btn-circle btn-facebook"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"
                  class="waves-effect waves-circle btn btn-social-icon btn-circle btn-twitter"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"
                  class="waves-effect waves-circle btn btn-social-icon btn-circle btn-linkedin"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"
                  class="waves-effect waves-circle btn btn-social-icon btn-circle btn-youtube"><i class="fa fa-youtube"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
